<div class="jumbotron">
  <div class="container">
       	<div class="center">
			 <h1>SkyScraper</h1>
			 <h2>The easiest way to find apartment rentals in San Francisco</h2><h4>An application based on Craigislist data</h4>
	   </div> 
       <%= render 'filter' %> 
  </div>
</div>